<div class="page-wrapper">
    <div class="dark-box"></div>
    <div class="content">
        <%- include('article', {level: 1, sub: config.toc}); %>
    </div>
    <div class="dark-box"></div>
</div>
